<?xml version="1.0" encoding="utf-8"?>
<Macro Key="e56488ce-485e-48ab-9bca-896e99392a78" Alias="PersonalizedImage" Level="0">
  <Name>Personalized Image</Name>
  <MacroSource>~/Views/MacroPartials/uPersonalize/Personalized Image.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>true</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Visited Page</Name>
      <Alias>visitedPage</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    </Property>
  </Properties>
</Macro>