<?xml version="1.0" encoding="utf-8"?>
<Media Key="8923e762-764c-42ca-b867-48b75f1d8155" Alias="Rbalogo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Rbalogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-04-27T11:26:52</CreateDate>
    <NodeName Default="Rbalogo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mttdhckm/rbalogo.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>