<?xml version="1.0" encoding="utf-8"?>
<Content Key="19444d43-d70b-412d-a501-54e25a86acf9" Alias="Demo Page" Level="2">
  <Info>
    <Parent Key="8dc32026-b36d-47f8-947f-c6375f627cc1">Home</Parent>
    <Path>/Home/DemoPage</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-06-10T13:29:37</CreateDate>
    <NodeName Default="Demo Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3fa36703-c8c3-487c-9ffe-b77a03d83c58">Page</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
  </Properties>
</Content>