<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dc32026-b36d-47f8-947f-c6375f627cc1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-04-26T15:57:16</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3fa36703-c8c3-487c-9ffe-b77a03d83c58">Page</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "b70b6b8f-6d55-4ae1-b22e-aeb03d5e0bf3",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1063,
                    "udi": "umb://media/8923e762764c42cab86748b75f1d8155",
                    "image": "/media/mttdhckm/rbalogo.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": {},
          "config": {
            "uPersonalize-settings": "{\"condition\":\"Visited_Page\",\"action\":\"Hide\",\"ipAddress\":\"\",\"deviceToMatch\":0,\"pageId\":\"1058\",\"eventName\":\"\",\"pageEventCount\":0,\"additionalClasses\":\"\"}"
          }
        },
        {
          "name": "Headline",
          "id": "bd550d9a-1f11-4ad1-9354-b319dcfa4d8e",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>asdfweer</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </grid>
  </Properties>
</Content>