<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dc32026-b36d-47f8-947f-c6375f627cc1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-04-26T15:57:16</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3fa36703-c8c3-487c-9ffe-b77a03d83c58">Page</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "5a0d5197-f610-4b33-bec9-19182d30dc2e",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p><strong>I want to hide this text if I've been to this page 10 times!!</strong></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": {},
          "config": {
            "uPersonalize-settings": "{\"condition\":\"Visited_Page_Count\",\"action\":\"Hide\",\"ipAddress\":\"\",\"deviceToMatch\":0,\"pageId\":\"1057\",\"eventName\":\"\",\"pageEventCount\":10,\"additionalClasses\":\"\"}"
          }
        }
      ]
    }
  ]
}]]></Value>
    </grid>
  </Properties>
</Content>