@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject uPersonalize.Interfaces.IPersonalizationService PersonalizationService
@{
    Layout = null;

    await PersonalizationService.TrackUser(Umbraco.AssignedContentItem.Id);

    var culture = Model.GetCultureFromDomains();
}

<!DOCTYPE HTML>
<html lang="@culture">
    <head>
        <script async src="~/../App_Plugins/uPersonalize/personalization.js"></script>

        <link rel="stylesheet" href="~/../App_Plugins/uPersonalize/uPersonalize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="~/../App_Plugins/uPersonalize/uPersonalize.min.css">
        </noscript>

        <link rel="stylesheet" href="~/css/main.min.css" async>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>

        <h1>You have triggered event "testEvent" @await PersonalizationService.GetTriggeredEventCount("testEvent") times!</h1>
        <h1>You have visited this page @await PersonalizationService.GetPageVisitCount(Umbraco.AssignedContentItem.Id.ToString()) times!</h1>

        @RenderBody()

        <p class="test-class">This is a test</p>

        <a href="/test" class="uPersonalizeButton" data-upersonalize-event-name="testEvent">Test Button</a>
    </body>
</html>