@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject uPersonalize.Interfaces.IPersonalizationService PersonalizationService
@{
    Layout = null;

    await PersonalizationService.OnPageLoad(Umbraco.AssignedContentItem.Id);

    var culture = Model.GetCultureFromDomains();
}

<!DOCTYPE HTML>
<html lang="@culture">
    <head>
        <script async src="~/../App_Plugins/uPersonalize/scripts/personalization.js"></script>

        <link rel="stylesheet" href="~/../App_Plugins/uPersonalize/styles/uPersonalize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="~/../App_Plugins/uPersonalize/styles/uPersonalize.min.css">
        </noscript>

        <link rel="stylesheet" href="~/css/main.min.css" async>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>

        <h1>You have visited this page @await PersonalizationService.GetPageLoadCount(Umbraco.AssignedContentItem.Id.ToString()) times!</h1>

        @RenderBody()
    </body>
</html>