<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5c560c4b-7a76-4ee2-a091-8d9e04c04f87" Alias="Personalized Grid Layout" Level="2">
  <Info>
    <Name>Personalized Grid Layout</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>uPersonalize</Folder>
  </Info>
  <Config>
				<![CDATA[{
  "Items": {
    "styles": [
      {
        "label": "Set a background image",
        "description": "Set a row background",
        "key": "background-image",
        "view": "imagepicker",
        "modifier": "url({0})"
      }
    ],
    "config": [
      {
        "label": "Class",
        "description": "Set a css class",
        "key": "class",
        "view": "textstring"
      },
      {
        "label": "uPersonalize Additional Classes",
        "description": "Set additional css classes",
        "key": "uPersonalize-classes",
        "view": "textstring"
      },
      {
        "label": "uPersonalize Action",
        "description": "Personalization action applied once the condition has been met",
        "key": "uPersonalize-actions",
        "view": "radiobuttonlist",
        "prevalues": [
          {
            "label": "Hide content",
            "value": "Hide"
          },
          {
            "label": "Show content",
            "value": "Show"
          },
          {
            "label": "Apply Additional Styles",
            "value": "Addition_Styles"
          }
        ]
      },
      {
        "label": "uPersonalize Condition",
        "description": "Select a condition for personalization to occur.",
        "key": "uPersonalize-conditions",
        "view": "radiobuttonlist",
        "prevalues": [
          {
            "label": "Matches IP Address",
            "value": "IP_Address"
          },
          {
            "label": "Matches Device Type",
            "value": "Device_Type"
          },
          {
            "label": "Visited Page",
            "value": "Visited_Page"
          },
          {
            "label": "Visited Page X Times",
            "value": "Visited_Page_Count"
          },
          {
            "label": "Event Triggered",
            "value": "Event_Triggered"
          },
          {
            "label": "Event Triggered X Times",
            "value": "Event_Triggered_Count"
          },
          {
            "label": "Is Logged In",
            "value": "Logged_In"
          }
        ]
      },
      {
        "label": "uPersonalize Condition - IP Address",
        "description": "Set a css class",
        "key": "uPersonalize-ip",
        "view": "textstring"
      },
      {
        "label": "uPersonalize Condition - Device Type",
        "description": "Set a css class",
        "key": "uPersonalize-device",
        "view": "radiobuttonlist",
        "prevalues": [
          {
            "label": "Android",
            "value": "Android"
          },
          {
            "label": "iPhone",
            "value": "iPhone"
          },
          {
            "label": "Windows",
            "value": "Windows"
          },
          {
            "label": "Linux",
            "value": "Desktop_Linux"
          },
          {
            "label": "Mac",
            "value": "Desktop_Mac"
          }
        ]
      },
      {
        "label": "uPersonalize Condition - Page Visited",
        "description": "Set a css class",
        "key": "uPersonalize-page-visit",
        "view": "treepicker"
      },
      {
        "label": "uPersonalize Condition - Triggered Event Name",
        "description": "Set a css class",
        "key": "uPersonalize-event",
        "view": "textstring"
      },
      {
        "label": "uPersonalize Condition - Page/Event Count",
        "description": "Set a css class",
        "key": "uPersonalize-page-event-count",
        "view": "number"
      }
    ],
    "columns": 12,
    "templates": [
      {
        "name": "1 column layout",
        "sections": [
          {
            "grid": 12
          }
        ]
      },
      {
        "name": "2 column layout",
        "sections": [
          {
            "grid": 4
          },
          {
            "grid": 8
          }
        ]
      }
    ],
    "layouts": [
      {
        "label": "Headline",
        "name": "Headline",
        "areas": [
          {
            "grid": 12,
            "editors": [
              "headline"
            ]
          }
        ]
      },
      {
        "label": "Article",
        "name": "Article",
        "areas": [
          {
            "grid": 4
          },
          {
            "grid": 8
          }
        ]
      }
    ]
  },
  "Rte": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>