.uPersonalize-configure-button {
	background: 0 0;
	border: 1px dashed #bbbabf;
	color: #1b264f;
	font-weight: 700;
	padding: 5px 15px;
	box-sizing: border-box;
	width: 90%;
}

.uPersonalize-trash-button {
	border: none;
	background: 0 0;
	color: currentColor;
	font-size: 25px;
	cursor: pointer;
	color: red;
}
