<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eecdf312-ddf9-42e0-a9bf-0828577a1003" Alias="page" Level="1">
  <Info>
    <Name>Page</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3fa36703-c8c3-487c-9ffe-b77a03d83c58">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="eecdf312-ddf9-42e0-a9bf-0828577a1003" SortOrder="0">page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d56f5179-0aa7-45a3-9125-b170b94ec042</Key>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Definition>5c560c4b-7a76-4ee2-a091-8d9e04c04f87</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="data">Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7c34e68d-8fd1-4797-942f-ee53aed314f4</Key>
      <Caption>Data</Caption>
      <Alias>data</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>