<div ng-controller="uPersonalizeSettingsController">
	<div ng-show="showLoading">
		<umb-load-indicator></umb-load-indicator>
	</div>
	<div class="umb-panel-group__details-group">
		<div class="umb-panel-group__details-group-title">
			<div class="umb-panel-group__details-group-name">Personalization Cookie Settings</div>
		</div>
		<div class="umb-panel-group__details-checks">
			<div class="umb-panel-group__details-check">
				<div class="umb-panel-group__details-check-title">
					<div class="umb-panel-group__details-check-name">
						<label for="domain" class="bold">Domain:</label>
						<input name="domain" type="text" ng-model="model.domain" />
					</div>

					<br />

					<div class="umb-panel-group__details-check-name">
						<label for="secure" class="bold">Same Site:</label>
						<input name="secure" type="checkbox" ng-model="model.secure" />
					</div>

					<br />

					<div class="umb-panel-group__details-check-name">
						<label for="sameSite" class="bold">Same Site:</label>
						<select name="sameSite" ng-model="model.sameSite">
							<option ng-repeat="option in sameSiteOptions" value="{{option}}" ng-selected="{{option == model.sameSite}}">{{option}}</option>
						</select>
					</div>

					<br />

					<div class="umb-panel-group__details-check-name">
						MaxAge:
					</div>

					<div class="umb-panel-group__details-check-description">
						<label for="days">Days:</label>
						<input name="days" type="number" min="0" ng-model="model.maxAgeDays" />

						<label for="hours">Hours:</label>
						<input name="hours" type="number" min="0" max="24" ng-model="model.maxAgeHours" />

						<label for="minutes">Minutes:</label>
						<input name="minutes" type="number" min="0" max="60" ng-model="model.maxAgeMinutes" />
					</div>
				</div>

				<div class="umb-panel-group__details-status top-border">
					<div class="umb-panel-group__details-status-content">
						<div class="no-background no-left-padding">
							<button ng-click="saveSettings()" type="button" class="btn btn-success">Save Cookie Settings</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>